*.iml
.gradle
.idea
.DS_Store
build
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata
.kotlin
#So we don't accidentally commit our private keys
*.gpg
library/src/commonTest/kotlin/LMSTest.kt
library/src/androidHostTest/kotlin/AndroidLMSTest.kt
library/src/iosTest/kotlin/IosLMSTest.kt
library/src/jvmTest/kotlin/JvmLMSTest.kt
